@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");


$blue: #1D44C3;
$black: #000000;
$green: #39A795;
$light-green: #CDF1D4;
$yellow: #EBCD4C;
$orange: #EC9050;
$skin: #F7D5BE;
$roboto: "Roboto", sans-serif;